.name-cafe {
   &:hover {
      cursor: pointer;
      opacity: 0.6;
   }
}

.card-body {
   padding: 10px 10px 5px 10px;
}

h5.card-title {
   margin-bottom: 0;
}

.card-text {
   font-size: 16px;
   margin-bottom: 0;
}

.card-status {
   border: 2px solid;
   border-radius: 5%;
   padding: 1px 8px 1px 8px;

   &__free {
      border-color: green;
   }

   &__busy {
      border-color: red;
   }
}